.message-input-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Title Above Message Input */
.message-input-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #9b4d1e;
    margin-bottom: 10px;
}

.message-input-container textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.message-input-container button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #c46728;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-input-container button:hover {
    background-color: #9b4d1e;
}

.add-discuss-message-btn{
    width: 18%;
}