.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    width: 100%;
    text-align: center;
    color: #4a2f27; /* Dark brown text */
}

.home-container h1 {
    font-size: 3rem;
    font-family: 'Garamond', serif;
    color: #9b4d1e; /* Deep burnt orange */
}

.home-container p {
    font-size: 1.5rem;
    color: #5c3c30;
}